<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TilausDB</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar (@ViewBag.LoggedStatus)</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="~/Home">
                            Etusivu
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Login">Login<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Logout">Logout<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/About">Tietoa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Map">Kartta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Contact">Yhteystiedot</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pudotusvalikko</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="~/Tuotteet/Index">Tuotteet</a>
                            <a class="dropdown-item" href="~/Tuotteet/TuoteKuvat">Tuotekuvat</a>
                            <a class="dropdown-item" href="~/Asiakkaat/Index">Asiakkaat</a>
                            <a class="dropdown-item" href="~/Home/Map">Kartta</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/Home/Contact">Yhteystiedot</a>
                        </div>
                    </li>
                </ul>
                @*<form class="d-flex">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>*@
            </div>
        </div>
    </nav>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("TilausDB", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Etusivu", "Index", "Home")</li>
                        <li>@Html.ActionLink("Tietoa", "About", "Home")</li>
                        <li>@Html.ActionLink("Yhteystiedot", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Tuotteet", "Index", "Tuotteet")</li>
                    </ul>
                </div>
            </div>
        </div>*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TilausDB, Minun ASP.NET App</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
